<!DOCTYPE html>
<html>
<head>
	{% for item in STYLES %}<link rel="stylesheet" href="{{ item }}">{% endfor %}
	{% for item in SCRIPTS %}
	<script type="text/javascript" src="{{ item }}"></script>
	{% endfor %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<body>
	<div class="pure-g">
    <div class="pure-u-1">
			<ul class="pure-paginator" id="Timeline">
				<li><a class="pure-button accent" href="step1.html" disabled><i class="fa fa-caret-left"></i></a></li>
		    {% for number in range(numSteps) %}
				<li><a class="pure-button accent pure-button-active" href="step{{number}}.html">Step {{number}}</a></li>
		    {% endfor %}
				<li><a class="pure-button accent" href="step2.html"><i class="fa fa-caret-right"></i></a></li>
	    </ul>
		</div>
		<div class="pure-u-1-1">
			<div id="Text">
				{{ contents }}
			</div>
		</div>
	</div>
</body>
</html>