<!DOCTYPE html>
<html>
<head>
	{% for item in STYLES %}<link rel="stylesheet" href="{{ item }}">{% endfor %}
	{% for item in SCRIPTS %}
	<script type="text/javascript" src="{{ item }}"></script>
	{% endfor %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
	$(document).ready(function() {
		var pop = Popcorn( "#Video" ); 
		{% for item in keyframes %}
			pop.code({
				start: {{item[0]}},
				onStart: function( options ) {
					console.log("updating...");
					$("#Text").html($('#step{{loop.index0}}').html().slice(8,-6));
				}
			});
		{% endfor %}
	});
</script>
</head>
<body>
	<body>
	{% for item in keyframes %}
		<code type="text/html" id="step{{loop.index0}}" style="display: none;">
			<!--{{item[1]}}-->
		</code>
	{% endfor %}
	<div class="pure-g">
    <div class="pure-u-1">
			<ul class="pure-paginator" id="Timeline">
				<li><a class="pure-button accent" href="step{{number-1}}.html" 
							 {% if number == 0 %} disabled {% endif %}>
					<i class="fa fa-caret-left"></i>
				</a></li>
		    {% for number in range(numSteps) %}
				<li><a class="pure-button accent pure-button-active" href="step{{number}}.html">Step {{number+1}}</a></li>
		    {% endfor %}
				<li><a class="pure-button accent" href="step{{number+1}}.html"
							 {% if number == numSteps - 1 %} disabled {% endif %}><i class="fa fa-caret-right"></i></a></li>
	    </ul>
		</div>
		<div class="pure-u-1-2">
			<video id="Video" autoplay>
				<source src="{{ video }}">
			</video>
		</div>
		<div class="pure-u-1-2">
			<div id="Text">
				{{ contents }}
			</div>
		</div>
	</div>
</body>
</html>